bin/
target/
.metadata/
.settings/
maven_libs/
eu.vicci.process.server/processes/
eu.vicci.process.server/processes/*
eu.vicci.process.server/processes/models/*.sofia

src-gen/*
!eu.vicci.process.model/src-gen/


# Package Files #

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
