<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.factory_override">
      <factory
            class="eu.vicci.process.model.sofiainstance.impl.custom.SofiaInstanceFactoryImplCustom"
            uri="http://vicci.eu/sofiainstance/1.0">
      </factory>
   </extension>

</plugin>
