<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="eu.vicci.process.adapter.preferences.ProteusPreferencesPage"
            id="eu.vicci.process.adapter.preferences.ProteusPreferencesPage"
            name="PROtEUS">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="eu.vicci.process.adapter.preferences.ProteusPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
