<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >

<log4j:configuration>
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} [%t] %-5p %c{2} %x - %m%n" />
		</layout>
	</appender>
	
	<appender name="file" class="org.apache.log4j.FileAppender">
		<param name="file" value="vicci-runtime.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"	value="%d{ISO8601} [%t] %-5p %c{2} %x - %m%n" />
		</layout>
	</appender>
	
	
	<logger name="io.netty">
		<level value="error"/>
	</logger>
	
	<logger name="ws.wamp">
		<level value="error"/>
	</logger>	
	
	<logger name="org.apache.http">
		<level value="error"/>
	</logger>
	
	<logger name="com.espertech.esper">
		<level value="warn"/>
	</logger>
	
	<root>
		<priority value="debug"></priority>
		<appender-ref ref="stdout" />
		<appender-ref ref="file" />
	</root>
</log4j:configuration>