<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="eu.vicci.process.graphiti.adapter.view"
         name="Process List View"
         point="org.eclipse.ui.views">
      <view
            category="eu.vicci.process"
            class="eu.vicci.process.graphiti.adapter.view.ui.ProcessListView"
            icon="media/vicci-logo-small.png"
            id="eu.vicci.process.graphiti.adapter.view.ProcessListView"
            name="Process List View"
            restorable="true">
      </view>
   </extension>
</plugin>
